(
    axes: {},

    actions: {
		// LIMITED TO 8 PLAYERS
		//
		// You can modify these or give multiple keys to one action by
		// [Key(W), Key(Up)]
		//
		// example of controller inputs 
		//"up0": [Controller(0, DPadUp)],
        //"down0": [Controller(0, DPadDown)],
        //"left0": [Controller(0, DPadLeft)],
        //"right0": [Controller(0, DPadRight)],
		//"swap0": [Controller(0, A), Controller(0, B)],
		//"raise0": [Controller(0, LeftShoulder), Controller(0, RightShoulder)],

		// all inputs for the 1st player
		"up0": [Key(W)],
        "down0": [Key(S)],
        "left0": [Key(A)],
        "right0": [Key(D)],
		"swap0": [Key(Space)],
		"raise0": [Key(LShift)],

		// all inputs for the 2nd player
        "up1": [Controller(0, DPadUp)],
        "down1": [Controller(0, DPadDown)],
        "left1": [Controller(0, DPadLeft)],
        "right1": [Controller(0, DPadRight)],
		"swap1": [Controller(0, A), Controller(0, B)],
		"raise1": [Controller(0, LeftShoulder), Controller(0, RightShoulder)],

		// all inputs for the 3rd player
		"up2": [],
        "down2": [],
        "left2": [],
        "right2": [],
		"swap2": [],
		"raise2": [],

		// all inputs for the 4th player
		"up3": [],
        "down3": [],
        "left3": [],
        "right3": [],
		"swap3": [],
		"raise3": [],

		// all inputs for the 5th player
		"up4": [],
        "down4": [],
        "left4": [],
        "right4": [],
		"swap4": [],
		"raise4": [],

		// all inputs for the 6th player
		"up5": [],
        "down5": [],
        "left5": [],
        "right5": [],
		"swap5": [],
		"raise5": [],

		// all inputs for the 7th player
		"up6": [],
        "down6": [],
        "left6": [],
        "right6": [],
		"swap6": [],
		"raise6": [],

		// all inputs for the 8th player
		"up7": [],
        "down7": [],
        "left7": [],
        "right7": [],
		"swap7": [],
		"raise7": [],
    }
)
