(
	// all playfields are stored here
	keys: [
		// A block is 16 px wide, offsets are done in px and then also
		// scaled by the scale factor below

		// each of the braces is a unique playfield,
		// the limit is up to 4 players
		// you need to offset each playfield by the x and y to see them
		// the level means the difficulty, it increases all 15 seconds
		// the start_level is always going to be the level
		(
			x: 0.0,
			y: 0.0,
			start_level: 0, 
			level: 3,
		),
	],
	// the scale of the playfield (the cursors and the blocks)
	scale: Some((4.0, 4.0)),
)
